
.notes__main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__appbar {
    align-items: center;
    /* background-color: ; */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.notes__content {

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input {
    border: none;
    background-color: rgb(211, 207, 207);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-left: 15px;
}

.notes__textarea {
    border: none;
    background-color: rgb(211, 207, 207);
    padding-left: 15px;
    font-size: 25px;
    flex: 1 1 auto;
    resize: none;
}

.notes__image {
    box-shadow: 5px 5px 5px dark-grey;
    /* // height: 340px;
    // width: 546px; */
}